.itemDiv {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin-bottom: 10px;
}
.details {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 200px;
  height: 200px;
  background-color: blue;
  opacity: 0.7;
}
